{% extends "base_vendor.html" %}

{% block title %}Product{% endblock  %}

{% block content %}
<p>{{product.name}}</p>
<p>{{product.stock}}</p>
<p>{{product.status}}</p>
<p>{{product.price}}</p>
<p>{{product.created_at}}</p>
{% if product.image %}
<img src="{{product.image.url}}" width="800" height="400" alt="">
{% endif %}
<a href="{% url "products:product_update" product.id %}">Edit</a>
<form action="{% url "products:product_delete" product.id %}" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm ('Are You Sure ?')">
        Delete
    </button>
</form>
{% endblock  %}