{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}
{% for item in cart.items.all %}
<p>{{item.product.name}}</p>
<img src="{{item.product.image.url}}" height="100" width="100" alt="">
<p>{{item.product.price}}</p>
<p>{{item.quantity}}</p>
<form action="{% url "cart:increase_quantity" item.id %}" method="post">
    {% csrf_token %}
    <button type="submit">+</button>
</form>
<form action="{% url "cart:decrease_quantity" item.id %}" method="post">
    {% csrf_token %}
    <button type="submit">-</button>
</form>
<form action="{% url "cart:remove_from_cart" item.id %}" method="post">
    {% csrf_token %}
    <button type="submit">del</button>
</form>
{% endfor %}
{% endblock  %}