{% extends "base.html" %}

{% block title %} Buyer Details {% endblock %}

{% block content %}
<h1>Buyer Profile Information</h1>

<p><strong>Account Email:</strong> {{ user.email }}</p>
<p><strong>Contact Phone Number:</strong> {{ buyer.phone_number }}</p>

<div>
    <p><strong>Profile Avatar Image:</strong></p>
    <img src="{{ buyer.profile_image.url }}" width="200" height="100" alt="Buyer Profile Picture">
</div>

<p><a href="{% url 'buyer:edit' %}">Edit Profile Details</a></p>
{% endblock %}